flask site/testvirtual/pyvenv.cfg
flask site/testvirtual/Lib*
flask site/testvirtual/Scripts*
dist*
build*
__pycache__*
bookstore.spec
.python*
customquote/Scripts*
customquote/Lib*
RESTApi_Test/RESTApi_test/pyvenv.cfg
RESTApi_Test/RESTApi_test/Scripts*
RESTApi_Test/RESTApi_test/Lib*
customquote/task.bat
customquote/.vscode/settings.json
